<h1>Create new message</h1>
<form method="POST" action="/new">
  <label for="author_name">Author</label>
  <input type="text" id="author_name" name="author_name" />
  <label for="message">Your Message</label>
  <input type="text" id="message" name="message" />
  <button type="submit">Post message</button>
</form>
