<!-- prettier-ignore -->
<!DOCTYPE html>
<html>
  <head>
    <title>Message Board</title>
  </head>
  <body>
    <h1>This is the Homepage</h1>
    <ul>
      <% messages.map((message)=> { %>
      <li>
        <%= message.user %>:
        <%= message.text %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
