<h1>Message Details</h1>
<button><a href="/">Back to Home</a></button>
<ul>
  <li>"<%= message.text %>"</li>
  <li>
    written by
    <%= message.user %>
  </li>
  <li>
    posted on
    <%= message.added %>
  </li>
</ul>
